*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
   
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: cadetblue;
    background-image: url(user7.jpg);
    background-size: cover;
    position: relative;

}

.box {
    height: 80%;
    width: 50%;
    flex-wrap: wrap;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.616);
    margin-right: 23rem;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    transform: scale(0.8);
    opacity: 0;
    pointer-events: none;
    transition:
        transform 0.25s ease,
        opacity 0.25s ease;
}

.box.show {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}


.box input{
    width: 100%;
    border: none;
    border-radius: 1.5rem;
    font-size:20px ;
    padding: 1rem;
}

.app{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    background-color: aqua;
}
.app i{
    color: white;
    cursor: pointer;
    font-size: 50px;
}
.app i:hover{
    background-color: rgb(94, 94, 94);
}

.bottom{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.316);
}

.ri-microsoft-fill{
     
     color: aliceblue;
    cursor: pointer;
    font-size: 2.5rem;
      transition: transform 0.1s ease;

}
.ri-microsoft-fill:active {
  transform: scale(0.9); /* Click per chota */
}

.list{
    width: 13%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background: #c3c3c3;
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;

}
ul{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     text-align: left;
    margin-left: 0;
    padding-left: 0;
    
    justify-content: space-evenly;
}
.list li{
    cursor: pointer;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



